/*background colors*/
/*Paddings*/
/*text colors*/
/*Height*/
/*Width*/
/*line Height*/
/*margin*/
/*positions*/
/*float*/
/*font size*/
/*padding*/
/**/
.side-navBar, .light-blue.lighten-1 .nav-wrapper .side-nav {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 0px;
  background-color: green;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%); }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px; }

.light, .page-footer .footer-copyright {
  font-weight: 300; }

/*.navHeader {
    background: $mainContent-bg !important;
}
.extendClass {
    @extend .navHeader;
}*/
.light-blue.lighten-1 {
  background: #29b6f6 !important; }
  .light-blue.lighten-1 .nav-wrapper {
    position: relative;
    height: 100%; }
    .light-blue.lighten-1 .nav-wrapper .brand-logo {
      position: absolute;
      color: #fff;
      display: inline-block;
      font-size: 2.1rem;
      padding: 0;
      white-space: nowrap; }
    .light-blue.lighten-1 .nav-wrapper img {
      border: 0;
      width: 65px;
      height: 65px; }
    .light-blue.lighten-1 .nav-wrapper .right {
      float: right !important; }

.section .container .header {
  text-align: center;
  color: #ff9800 !important; }

.section .container .row h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0; }

.section .container .row .header {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.87) !important; }
  .section .container .row .header .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px; }
  .section .container .row .header .s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto; }

.section.no-pad-bot {
  padding-bottom: 0px; }

.section {
  padding-top: 0; }

.container .section .row .col .icon-block h2 .material-icons {
  font-size: 50px !important; }

.container .section .row .col .icon-block .light {
  font-weight: 300; }

.page-footer {
  padding-top: 20px;
  background-color: #ff9800 !important; }
  .page-footer .container .row .col .white-text {
    color: #fff !important; }
  .page-footer .container .row .col .grey-text {
    color: #f5f5f5 !important; }

@media only screen and (max-width: 992px) {
  .light-blue.lighten-1 .nav-wrapper img {
    height: 100%; } }
