<div class="cq-placeholder" data-sly-test=${!properties.toolSoftwareName} data-emptytext="Featured Tool Component"></div>
<div data-sly-use.list="com.practice.practice.core.models.FeatureToolModel" data-sly-unwrap></div>

<div class="ti_box mod-style2">
	<div data-sly-use.link="${'com.practice.practice.core.utils.PathBrowserHelper' @ url=properties.toolInfoUrl}" data-sly-unwrap>
		<div class="ti_box-image">
			<a href="${link.link @ context='uri'}">
				<img src="${properties.image @ context='html'}" alt="${properties.imgAltText}">
			</a>
		</div>
		<h3 class="ti_box-title"><a href="${link.link @ context='uri'}">${properties.toolSoftwareName @ context='html'}</a></h3>
	</div>
	<div class="ti_box-content">
		${properties.description @ context='html'}
		<p data-sly-test="${properties.manufacturer}">By ${properties.manufacturer @ context='html'}</p>
		<ul class="lined">
			<div data-sly-list="${list.listItemsProp}" data-sly-unwrap>
				<li>${item.itemValue @ context='html'}</li>
			</div>
		</ul>
	</div>
	<div class="ti_box-cta">
		<div class="u-flex-row">
			<div data-sly-use.link="${'com.practice.practice.core.utils.PathBrowserHelper' @ url=properties.toolInfoUrl}" data-sly-unwrap>
			 	<div data-sly-test="${link.newTab == true}" data-sly-unwrap>
					<div data-sly-test="${properties.toolInfoUrl && properties.toolInfoCtaLabel}" class="ti_box-cta-button"><a href="${link.link @ context='uri'}" target="_blank" class="button btnA">${properties.toolInfoCtaLabel @ context='html'}</a></div>
			 	</div>
			 	<div data-sly-test="${link.newTab == false}" data-sly-unwrap>
					<div data-sly-test="${properties.toolInfoUrl && properties.toolInfoCtaLabel}" class="ti_box-cta-button"><a href="${link.link @ context='uri'}" class="button btnA">${properties.toolInfoCtaLabel @ context='html'}</a></div>	
			 	</div>
			</div>
			<div data-sly-test="${properties.orderNowUrl}" data-sly-use.link="${'com.practice.practice.core.utils.PathBrowserHelper' @ url=properties.orderNowUrl}" data-sly-unwrap>
			 	<div data-sly-test="${link.newTab == true}" data-sly-unwrap>
					<div data-sly-test="${properties.orderNowUrl && properties.orderNowCtaLabel}" class="ti_box-cta-button"><a href="${link.link @ context='uri'}" target="_blank" class="button btnD">${properties.orderNowCtaLabel @ context='html'}</a></div>
			 	</div>
			 	<div data-sly-test="${link.newTab == false}" data-sly-unwrap>
					<div data-sly-test="${properties.orderNowUrl && properties.orderNowCtaLabel}" class="ti_box-cta-button"><a href="${link.link @ context='uri'}" class="button btnD">${properties.orderNowCtaLabel @ context='html'}</a></div>
			 	</div>
			</div>
		</div>
	</div>
</div>