
/*background colors*/
$mainContent-bg : #29b6f6;
$nav-background: #ee6e73;
$white-background-color: #fff;
$page-footer-bg : #ff9800;

/*Paddings*/
$padding-large : 20px;

/*text colors*/
$white-color: #fff;
$orange-color: #ff9800;
$light-blue-text-color: #03a9f4 !important;
$grey-text-color: #f5f5f5;


$text-align-center: center;
$text-align-left: left;

/*Height*/
$nav-height: 56px;
$height-100: 100%;

/*Width*/
$nav-width: 100%;
$width-300: 300px;

/*line Height*/
$nav-line-height: 56px;
$h5-line-height: 110%;

/*margin*/
$h5-margin: 0.82rem 0 0.656rem 0;
$header-margin-left: -0.75rem;
$header-margin-right: -0.75rem;
$s12-margin-left: auto;

/*positions*/
$rel-position: relative;
$abs-position: absolute;
$sta-position: static;
$inh-position: inherit;
$fix-position: fixed;

/*float*/
$float-right: right;
$float-left: left;

/*font size*/
$large-fonts: 2.1rem;
$h5-font-size: 1.64rem;
$material-icons-font-size: 50px;
$light-font-weight: 300;


/*padding*/
$padding-zero: 0;
$padding-five: 5px;
$padding-ten: 10px;
$padding-twenty: 20px;
$btm-padding-bottom: 0px;
$padding-top-twenty: 20px;

$col-padding: 0 0.75rem;
$col-min-height: 1px;

$display-inline-block: inline-block;

$white-space-nowrap: nowrap;

/**/
$left-zero: 0;
$top-zero: 0;
$right-zero: 0;
$bottom-zero: 0;
$margin-zero: 0;
$left-auto: auto;
$right-auto: auto;


.side-navBar {
  position: $fix-position;
  width: $width-300;
  left: $left-zero;
  top: $top-zero;
  margin: $margin-zero;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  height: $height-100;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: $btm-padding-bottom;
  background-color: green;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.light, .page-footer .footer-copyright {
    font-weight: 300;
}

/*.navHeader {
    background: $mainContent-bg !important;
}
.extendClass {
    @extend .navHeader;
}*/

.light-blue.lighten-1 {
    background: $mainContent-bg !important;
    .nav-wrapper {
        position: $rel-position;
        height: $height-100;
        .brand-logo {
            position: $abs-position;
            color: $white-color;
            display: $display-inline-block;
            font-size: $large-fonts;
            padding: $padding-zero;
            white-space: $white-space-nowrap;
        }
        img {
            border: 0;
            width: 65px;
            height: 65px;
        }
        .right {
            float: $float-right !important;
        }
        .side-nav {
            @extend .side-navBar;
        }
    }
}

.section {
    .container {
        .header {
            text-align: $text-align-center;
            color: $orange-color !important;
        }
        .row {
            h5 {
                font-size: $h5-font-size;
                line-height: $h5-line-height;
                margin: $h5-margin;
            }
            .header {
                margin-left: $header-margin-left;
                margin-right: $header-margin-right;
                text-align: $text-align-center;
                color: rgba(0,0,0,.87) !important;
                .col {
                    float: $float-left;
                    box-sizing: border-box;
                    padding: $col-padding;
                    min-height: $col-min-height;
                }
                .s12 {
                    width: $nav-width;
                    margin-left: $s12-margin-left;
                    left: $left-auto;
                    right: $right-auto;
                }
            }
        }
    }
}
.section.no-pad-bot {
    padding-bottom: $btm-padding-bottom;
}
.section {
    padding-top: $padding-zero;
}
.container {
    .section {
        .row {
            .col {
                .icon-block {
                    h2 {
                        .material-icons {
                            font-size: $material-icons-font-size!important;
                        }
                    }

                    .light {
                        font-weight: $light-font-weight;
                    }
                }
            }
        }
    }
}
.page-footer {
    padding-top: $padding-top-twenty;
    background-color: $page-footer-bg !important;
    .container {
        .row {
            .col {
                .white-text {
                    color: $white-color !important;
                }
                .grey-text {
                    color: $grey-text-color !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .light-blue.lighten-1 {
        .nav-wrapper {
            .brand-logo {
            }
            img {
                height: 100%;
            }
            .right {
            }
            .side-nav {
            }
        }
    }
}